In [4]:
import pandas as pd

In [5]:
df =pd.read_csv('커피빈매장.csv')
df

          Name                           Address           Tel
0     삼성봉은사거리점             서울시 강남구 영동대로 607 1,2층  02-3443-5618
1    코엑스웨스틴서울점   서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드   02-569-3103
2      삼성오크우드점           서울 강남구 테헤란로87길 46 지하 2층  02-3466-8507
3      삼성봉은사로점           서울시 강남구 봉은사로 628 엘슨빌딩1층   02-538-4523
4      도심공항타워점        서울시 강남구 테헤란로87길 36 공항타워 1층  02-2016-5330
..         ...                               ...           ...
208  강동경희대병원앞점         서울특별시 강동구 동남로 885 양지빌딩 1층   02-481-9938
209      새문안로점       서울특별시 종로구 새문안로 91 고려빌딩 1,2층   02-739-5806
210  광화문역1번출구점           서울시 종로구 새문안로5가길 7 1층 일부   02-723-3360
211   성균관대법학관점   서울시 종로구 성균관로 25-2 성균관대학교 법학관 B2   02-740-1958
212    경희궁의아침점  서울시 종로구 새문안로3길 23 경희궁아침상가4단지105외   02-730-8896

[213 rows x 3 columns]

In [31]:
import requests
import urllib.parse

def get_location(address):
    encoded_address = urllib.parse.quote(address)
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + encoded_address
    headers = {'Authorization': 'KakaoAK 5cacdaa51d206ff5905771eb113bb8e4'}
    res = requests.get(url, headers=headers).json()

    if res['documents']:
        x = res['documents'][0]['x']
        y = res['documents'][0]['y']
        return x, y
    else:
        return None, None

In [37]:
x, y = get_location('서울시')
if x and y:
    print(f": {x}, : {y}")
else:
    print("주소를 찾을 수 없습니다.")

: 126.978652258309, : 37.5668260046608

In [40]:
store = pd.read_csv('커피빈매장.csv')
store['X'] = ''
store['Y'] = ''
store.head(2)

        Name                          Address           Tel X Y
0   삼성봉은사거리점            서울시 강남구 영동대로 607 1,2층  02-3443-5618
1  코엑스웨스틴서울점  서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드   02-569-3103

In [41]:
for i in store.index:
    address =store.loc[i, 'Address']
    x, y = get_location(address)
    store.loc[i, 'X'] = x
    store.loc[i, 'Y'] = y

In [42]:
store.isnull().sum()
store.dropna(inplace=True)

In [43]:
store.isnull().sum()

Name       0
Address    0
Tel        0
X          0
Y          0
dtype: int64

In [44]:
store.head(5)

,Name,Address,Tel,X,Y
1,코엑스웨스틴서울점,서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드,02-569-3103,127.057115600619,37.5129534255276
2,삼성오크우드점,서울 강남구 테헤란로87길 46 지하 2층,02-3466-8507,127.058205573267,37.5109823973192
3,삼성봉은사로점,서울시 강남구 봉은사로 628 엘슨빌딩1층,02-538-4523,127.064164448221,37.5146694627537
4,도심공항타워점,서울시 강남구 테헤란로87길 36 공항타워 1층,02-2016-5330,127.058597240146,37.5102336492314
5,트레이드타워점,서울시 강남구 영동대로 511 트레이드타워 지하1층,02-803-9994,127.061023782931,37.510356849269

In [80]:
store.to_csv('커피빈맵.csv', index=False)

In [81]:
store = pd.read_csv('커피빈맵.csv')
store.info

<bound method DataFrame.info of      Unnamed: 0       Name                           Address           Tel  \
0             1  코엑스웨스틴서울점   서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드   02-569-3103
1             2    삼성오크우드점           서울 강남구 테헤란로87길 46 지하 2층  02-3466-8507
2             3    삼성봉은사로점           서울시 강남구 봉은사로 628 엘슨빌딩1층   02-538-4523
3             4    도심공항타워점        서울시 강남구 테헤란로87길 36 공항타워 1층  02-2016-5330
4             5    트레이드타워점      서울시 강남구 영동대로 511 트레이드타워 지하1층   02-803-9994
..          ...        ...                               ...           ...
189         208  강동경희대병원앞점         서울특별시 강동구 동남로 885 양지빌딩 1층   02-481-9938
190         209      새문안로점       서울특별시 종로구 새문안로 91 고려빌딩 1,2층   02-739-5806
191         210  광화문역1번출구점           서울시 종로구 새문안로5가길 7 1층 일부   02-723-3360
192         211   성균관대법학관점   서울시 종로구 성균관로 25-2 성균관대학교 법학관 B2   02-740-1958
193         212    경희궁의아침점  서울시 종로구 새문안로3길 23 경희궁아침상가4단지105외   02-730-8896

              X          Y
0    127.057116  37.512953
1    127.058206  37.510982
2    127.064164  37.514669
3    127.058597  37.510234
4    127.061024  37.510357
..          ...        ...
189  127.155976  37.552654
190  126.974761  37.570488
191  126.974038  37.572771
192  126.993115  37.587228
193  126.972441  37.572631

[194 rows x 6 columns]>

In [82]:
address='상암'
filt = store['Address'].str.contains(address)
df = store[filt]
df

,Unnamed: 0,Name,Address,Tel,X,Y
50,57,상암SBS프리즘타워점,서울 마포구 상암산로 82 SBS 프리즘 타워 1층 로비,02-562-9605,126.892774,37.579716
51,58,상암SBS미디어센터점,서울시 마포구 상암산로 82 SBS프리즘타워 1층,02-2039-9027,126.892774,37.579716

In [83]:
import folium

def get_map(address):
    filt = store['Address'].str.contains(address)
    df = store[filt]
    if len(df.index) == 0:
        print('찾지 못함')
    else:
        first = df.head(1)
        x = float(first.iloc[0]['X'])
        y = float(first.iloc[0]['Y'])
        map = folium.Map(location=[y, x], zoom_start=15)
        for idx, row in df.iterrows():
            name = row['Name']
            x = float(row['X'])
            y = float(row['Y'])
            folium.Marker(
                location=[y, x],
                popup=folium.Popup(f'[{idx}]{name}', max_width=200),
                icon=folium.Icon(color='green', icon='start')
            ).add_to(map)
        map.save(f'{address}.html')

get_map('상암')