In [ ]:
import pandas as pd
df = pd.read_csv('data/score.csv')
df.rename(columns={'Unnamed: 0': '지원번호'}, inplace=True)
df.set_index('지원번호', inplace=True)
df.loc[['1번', '3번'], ['이름', '키']]

       이름   학교    키
지원번호
1번    채치수  북산고  197
2번    정대만  북산고  184
3번    송태섭  북산고  168
4번    서태웅  북산고  187
5번    강백호  북산고  188

In [6]:
df.iloc[0:5, 0:3]

       이름   학교    키
지원번호
1번    채치수  북산고  197
2번    정대만  북산고  184
3번    송태섭  북산고  168
4번    서태웅  북산고  187
5번    강백호  북산고  188

In [7]:
df.iloc[-1]

이름      윤대협
학교      능남고
키       190
국어      100
영어       85
수학       90
과학       95
사회       95
SW특기     C#
Name: 8번, dtype: object